body {
    background: tomato;
}

.overflow-hide {
    height: 60px;
    width: 190px;
    display: block;
    margin: 150px auto;
    overflow: hidden;
    position: relative;
}

.hole {
    content: "";
    display: block;
    width: 190px;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    height: 10px;
    border-radius: 20px;
    background: black;
    z-index: 0;
}

.button {
    height: 60px;
    width: 180px;
    text-align: center;
    line-height: 1.8;
    color: white;
    display: block;
    position: relative;
    background-color: #105f98;
    margin: 0 auto;
    transform: translateY(30px);
    transition: transform 200ms ease-in-out;
}

.button:after {
    content: "";
    display: block;
    position: absolute;
    width: 180px;
    height: 5px;
    background: black;
    bottom: 0;
    transform: translateY(-30px);
    transition: transform 200ms cubic-bezier(0.36, -0.17, 0.64, 1.15);
}

.button:hover {
    transform: translateY(0);
}

.button:hover:after {
    transform: translateY(0);
}
