@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Ubuntu);

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #333;
}

h2 {
    color: #fff;
    font-family: "Ubuntu", "sans-serif";
    font-weight: 400;
    margin-top: 3em;
    text-align: center;
}

.checkbox_wrapper {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    height: 50px;
    margin: 3em auto;
    position: relative;
    width: 100px;
}

label {
    display: block;
    margin: auto;
    width: 100px;
}

[type="checkbox"]:checked + .custom,
[type="checkbox"]:not(:checked) + .custom {
    background: #e74c3c;
    left: 1px;
    position: absolute;
    top: 1px;
    bottom: 1px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    width: 48px;
    z-index: 10;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    opacity: 0;
}

[type="checkbox"]:checked + .custom {
    background: #2ecc71;
    left: 49px;
}

svg {
    -webkit-filter: drop-shadow(1px 1px 1px #000);
    filter: drop-shadow(1px 1px 1px #000);
    position: absolute;
    z-index: 1;
}

.true_icon {
    fill: #2ecc71;
    left: 8px;
    top: 8px;
}

.false_icon {
    fill: #e74c3c;
    right: 8px;
    top: 9px;
}
