body {
    background: green;
    color: white;
    font-family: 'Open Sans',sans-serif;
}

header {
    text-align: center;
    font-size: 24pt;
}

.container {
  padding-top: 2em;
  margin: auto 49%;
}

.backArrow {
    font-size: 25px;
    line-height: 25px;
    width: 1em;
    height: 1em;
    padding: 6px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transform: rotate(180deg);
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
}

.backArrow:hover {
    background: rgba(255,255,255,.5);
}

.backArrow:active {
    position: relative;
    right: 2px;
}
